{
  "parser": "babel-eslint",
  "rules": {
    "array-bracket-spacing": 1,
    "brace-style": [1, "1tbs", {"allowSingleLine": true}],
    "camelcase": 1,
    "comma-dangle": [2, "never"],
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [1, "last"],
    "computed-property-spacing": 1,
    "consistent-return": 1,
    "consistent-this": [1, "self"],
    "curly": [1, "multi-or-nest"],
    "eol-last": 1,
    "eqeqeq": [2, "allow-null"],
    "guard-for-in": 1,
    "handle-callback-err": [2, "^(err|error)$"],
    "indent": [1, 2, {"SwitchCase": 1}],
    "key-spacing": [2, { align: "value" }],
    "new-cap": [1, {"capIsNew": false, "newIsCap": true}],
    "new-parens": 0,
    "no-bitwise": 0,
    "no-cond-assign": 1,
    "no-console": 1,
    "no-constant-condition": 1,
    "no-debugger": 1,
    "no-delete-var": 2,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-empty": 1,
    "no-empty-character-class": 1,
    "no-eval": 1,
    "no-ex-assign": 1,
    "no-extend-native": 1,
    "no-extra-parens": [1, "functions"],
    "no-floating-decimal": 1,
    "no-func-assign": 1,
    "no-implied-eval": 1,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 2,
    "no-iterator": 1,
    "no-labels": 1,
    "no-lonely-if": 2,
    "no-loop-func": 1,
    "no-mixed-requires": 1,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-native-reassign": 2,
    "no-negated-in-lhs": 1,
    "no-new-func": 1,
    "no-new-object": 1,
    "no-new-require": 1,
    "no-new-wrappers": 2,
    "no-obj-calls": 2,
    "no-octal": 1,
    "no-path-concat": 1,
    "no-plusplus": 0,
    "no-proto": 2,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-shadow": 1,
    "no-spaced-func": 1,
    "no-sparse-arrays": 1,
    "no-throw-literal": 1,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-undef-init": 1,
    "no-undefined": 1,
    "no-underscore-dangle": 0,
    "no-unreachable": 1,
    "no-unused-expressions": 2,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-use-before-define": [1, "nofunc"],
    "no-var": 1,
    "no-warning-comments": [1, {"terms": ["todo", "fixme"]}],
    "object-curly-spacing": 1,
    "quote-props": [0, "as-needed"],
    "quotes": [2, "single", "avoid-escape"],
    "radix": 0,
    "semi": [2, "never"],
    "semi-spacing": [1, {"before": false, "after": true}],
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, "never"],
    "space-in-parens": [1, "never"],
    "space-infix-ops": 2,
    "space-return-throw-case": 1,
    "space-unary-ops": [1, {"words": true, "nonwords": false}],
    "strict": [1, "never"],
    "use-isnan": 1,
    "valid-typeof": 1,
    "vars-on-top": 0,  // disabled for now, see github.com/eslint/eslint/issues/2099
    "wrap-iife": [1, "inside"],
    "yoda": 0,
    // Node.js specific
    // React
    "jsx-quotes": [2, "prefer-single"],
    "react/display-name": [2, {"acceptTranspilerName": true}],
    "react/jsx-boolean-value": 1,
    "react/jsx-curly-spacing": 1,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-quotes": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 0,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": [2, { ignore: ['get', 'getIn', 'client', 'content'] }],
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 0,
    "react/wrap-multilines": 1
  },
  "globals": {
    "require": true,
    "jasmine": true,
    "expect": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "spyOn": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}
